*{
    box-sizing: border-box;
}
.login-section{
    width: 70%;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: rgb(236, 234, 234);
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 2px 2px 8px gainsboro;

}

.login-heading {
    text-align: center;
    margin-bottom: 40px;
}

.login-heading h1 {
    margin-bottom: 0px;
}

.login-heading p {
    color: grey;
}

/* Login Body  */

.login-body input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-body input::placeholder {
    color: #aaa;
}

.login-body p {
    font-size: 16px;
    color: blue;
}

.login-body button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color:#0969da;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 30px;
}

.login-body button:hover {
    background-color: #0550ae;
}

/* Or container  */

.or-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.line-one {
    width: 40%;
    color: rgb(239, 236, 236);
}
.line-two {
    width: 30%;
    color: #aaa;
}

.or-container p {
    color: grey;
}

/* Demo Vredentials  */

.demo-credentials {
    text-align: center;
}

.demo-credentials h2 {
    color: rgb(171, 170, 170);
    font-size: 18px;
    font-weight: 700;
}

.credentials-p {
    background-color: #e2e2e2;
    padding: 8px;
    border-radius: 12px;
}
.bold {
    font-weight: bold;
}



/* ************Main page er design ******  */


/* Navbar  */
.main-body {
    margin: 0;
    padding: 0;
    background-color: #e8ecf1;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 5px;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.logo img{
    width: 30px;
    height: 30px;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}


.search-box input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background-color:#e4e4e7;
}

.search-box button {
      padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: blue;
    color:white;
    cursor: pointer;
    
}

.search-box button:hover {
    background-color: #0969da;
}


/* Whole Section  */

.whole-section {
    padding: 50px 80px;
}
.taps {
    display: flex;
    gap: 10px;
    background-color:#FFFFFF;
    padding: 18px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.tap {
    width: 150px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background-color: #e4e4e7;
    color: rgb(105, 105, 105);
}
.tap:hover{
    background-color: blue;
    color: white;
}




/* Design for Issue info  */

.issue-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 18px;
    border-radius: 5px;
}

.issue-left{
    display: flex;
    gap: 10px;
    align-items: center;
}

.image {
    display:flex;
    background-color: #d1cfcf;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.issue-left h3 {
    font-size: 20px;
}

.issue-left p{
    color: gray;
}

.issue-right {
    display: flex;
    gap: 25px;
}




/* card design  */

.issues-container{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:20px;

}

.issue-card{
border-top:5px solid gray;
background:white;
padding:15px;
border-radius:8px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);

}